<div id="character" class="mt-12">
    <h1 class="text-center text-4xl border-b-2 border-neutral-900/25 ml-12 mr-12">キャラクター</h1>
    <div class="grid w-full grid-cols-6">
        <div class="flex flex-col col-span-2 m-6 pt-6 pb-6
                    rounded-tl-3xl rounded-bl-3xl
                    shadow-lg bg-gradient-to-t from-fuchsia-200 to-fuchsia-50">
            <button class="w-full flex flex-row text-3xl justify-end hover:bg-neutral-700 hover:text-neutral-100">
                <span>華鏡よさり</span>
                <div class="w-2 h-full bg-blue-400"></div>
            </button>
            <button class="w-full flex flex-row text-3xl justify-end hover:bg-neutral-700 hover:text-neutral-100">
                <span>カキョウヨサリ</span>
                <div class="w-2 h-full bg-fuchsia-400"></div>
            </button>
        </div>
        <div class="flex flex-row col-span-4 items-center m-6 p-6
                    rounded-tr-3xl rounded-br-3xl
                    shadow-lg bg-gradient-to-t from-fuchsia-200 to-fuchsia-50">
            <div class="basis-full flex-1 pl-12 pr-12 justify-center h-full">
                <h1 class="grid grid-cols-6 justify-center
                           text-4xl border-b-2 border-neutral-900/10">
                    <span class="text-center"><box-icon name='star' type='solid' ></box-icon></span>
                    <span class="col-span-4 text-center">華鏡よさり</span>
                    <span class="text-center"><box-icon name='star' type='solid' ></box-icon></span>
                </h1>
                <div class="mt-6">
                    <p>✾名は「華鏡よさり」、読みは「かきょうよさり」。</p>
                    <p>琴之縁神社に奉納された鏡の付喪神（つくもがみ）。</p>
                    <p>性格：態度や表情に喜怒哀楽が出やすく、天真爛漫に振る舞うことが多い。
                    イタズラ好きで甘えん坊な面も。</p>
                    <p>現世での目的はひとまず達成したため、ひたすらやりたい活動をして人間界をえんじょいしている。</p>
                    <p>好きなものは抹茶アイス！</p>
                    <p>丹下琴絵を「姐様」と呼び慕っている。</p>
                </div>
            </div>
            <div class="basis-full flex-1 max-h-screen object-contain">
                <image class="rounded-2xl shadow-xl" src="assets/image/honka.jpg"></image>
            </div>
        </div>
    </div>
</div>