<div id="guideline" class="mt-12">
    <h1 class="text-center text-4xl border-b-2 border-neutral-900/25 ml-12 mr-12">カキョウヨサリ利用規約</h1>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-10 mt-10 ml-10 mr-10">
        <div class="shadow-md rounded-3xl bg-gradient-to-t from-gray-100 to-gray-50 shadow-fuchsia-800/20 col-span-1">
            <h2 class="text-center bg-blue-400 text-neutral-100 p-1 mt-6">【はじめに・定義】</h2>
            <div class="flex flex-col gap-3 mt-6 p-6">
                <p>本規約は、Vtuber華鏡よさり（以下「カキョウヨサリ運営」といいます）により運営されているキャラクター「カキョウヨサリ」を使用した関連製品、販売促進物で使用されている一切の画像、キャラクターデザイン、キャラクター名称「カキョウヨサリ」及びこれに関連する情報の使用に関するガイドラインです。</p>
                <p>音声合成ソフトウェア製品「A.I.VOICE カキョウヨサリ」で作成された"音声データの利用規約"と「A.I.VOICE カキョウヨサリ」の"キャラクター利用規約"は内容が異なり、本規約は後者を指すものとなります。</p>
                <p>"音声データの利用規約" や "exVOICEの利用規約" に関しましては、「A.I.VOICE カキョウヨサリ」の製造元である株式会社エーアイが別途定めておりますため、そちらのHPをご確認ください。</p>
            </div>
        </div>
        <div class="shadow-md rounded-3xl bg-gradient-to-t from-gray-100 to-gray-50 shadow-fuchsia-800/20 col-span-1">
            <h2 class="text-center bg-fuchsia-400 text-neutral-100 p-1 mt-6">【基本規約】</h2>
            <div class="flex flex-col gap-3 mt-6 p-6">
                <p>カキョウヨサリを利用した際は、利用したコンテンツ内や概要欄など任意の場所にクレジットの記載をお願いいたします。</br>表記例：A.I.VOICE カキョウヨサリ</p>
                <p>商用利用については大まかに、「 "個人" や "二次創作の範囲" であれば許諾不要で利用可能である」と定めております。</p>
                <p>音声を利用する場合は、株式会社エーアイが定める利用規約も必ずお守りください。</p>
                <p>「カキョウヨサリ」を利用した作品においていかなる損害が発生しても、カキョウヨサリ運営はこれに対して一切責任を負いません。</p>
            </div>
        </div>
        <div class="shadow-md rounded-3xl bg-gradient-to-t from-gray-100 to-gray-50 shadow-fuchsia-800/20 col-span-1">
            <h2 class="text-center bg-red-400 text-neutral-100 p-1 mt-6">【禁止事項】</h2>
            <div class="flex flex-col gap-3 mt-6 p-6">
                <p>以下の行為について禁止します。</p>
                <ul class="list-disc list-image-moon">
                    <li>公式イラストの二次配布および転載(SNS等でのアイコン利用も)。</li>
                    <li>公式イラストを利用した作品の販売、頒布。</li>
                    <li>公式と誤認されるような行為や活動、作品の制作(、キャラクターを用いてのVtuber活動等も)。</li>
                    <li>著しくキャラクターイメージを損なうようなものにカキョウヨサリを使用すること。</li>
                </ul>
                <p>具体例</p>
                <ul class="list-disc list-image-moon">
                    <li>誹謗中傷を内容に含むもの。</li>
                    <li>第三者に不快感を与えるもの。</li>
                    <li>第三者の権利等を侵害するもの。</li>
                    <li>特定の思想・団体に関係するもの。</li>
                    <li>政治的利用。</li>
                    <li>その他、カキョウヨサリ運営が不適切と判断する行為に使用すること。</li>
                </ul>
            </div>
        </div>
        <div class="shadow-md rounded-3xl bg-gradient-to-t from-gray-100 to-gray-50 shadow-fuchsia-800/20 col-span-1">
            <h2 class="text-center bg-emerald-400 text-neutral-100 p-1 mt-6">【商用利用・二次創作】</h2>
            <div class="flex flex-col gap-3 mt-6 p-6">
                <p>"二次創作" とは、公式から公開しているコンテンツ以外でのユーザーの創作を指します。</p>
                <div class="grid grid-cols-2">
                    <span>イラスト</span>
                    <span>立ち絵素材</span>
                    <span>漫画</span>
                    <span>同人誌</span>
                    <span>動画</span>
                    <span>小説</span>
                    <span>ゲーム</span>
                    <span>模型</span>
                    <span>立体物</span>
                    <span>コスプレなど</span>
                </div>
                <p>これらをはじめ、二次創作に該当する作品は "同人活動の範囲内" であれば基本的に、有償・無償を問わず自由に利用していただいて問題ございません。</p>
                <p>（YouTubeの広告やスーパーチャット、ニコニコ動画のクリエイター奨励プログラムも含みます。）</p>
                <p>法人利用など、個人の範囲を超える商用・営利目的で使用する場合は、別途お問い合わせください。</p>
            </div>
        </div>
        <div class="shadow-md rounded-3xl bg-gradient-to-t from-gray-100 to-gray-50 shadow-fuchsia-800/20 col-span-2 col-start-2">
            <h2 class="text-center bg-orange-400 text-neutral-100 p-1 mt-6">【本規約の内容に関して】</h2>
            <div class="flex flex-col gap-3 mt-6 p-6">
                <p>カキョウヨサリ運営が必要と判断した際には、予告することなくいつでも内容を変更することができるものとします。</p>
            </div>
        </div>
    </div>
</div>