<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/main.css">
        <script src="https://unpkg.com/htmx.org@1.9.11"
                integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    </head>
    <script>
        
    </script>
    <body class="container mx-auto bg-neutral-800">
        <div class="bg-neutral-100">
            {{navbar|safe}}

            {{header|safe}}
            {{character|safe}}
            {{guideline|safe}}
            {{store|safe}}
            {{contact|safe}}
            {{footer|safe}}
        </div>
    </body>
</html>