<div id="store" class="p-12">
    <h1 class="text-center text-4xl border-b-2 border-neutral-900/25 ml-12 mr-12">公式ショップ</h1>
    <div class="p-12">
        <h1 class="text-3xl">グッズ</h1>
        <div class="grid grid-cols-4 gap-6 justify-center mt-6">
            <a href="https://kakyo-yosari.booth.pm/items/4669013"
               class="bg-neutral-50 flex flex-col justify-center shadow-lg">
                <image class="pt-6 pl-6 pr-6 rounded-3xl h-96 object-contain"
                       src="https://s2.booth.pm/0c6da0d5-1a01-44d5-878f-6f11c81e458c/i/4669013/a40096a7-b24c-4e75-b322-fcb13fbba5c0_base_resized.jpg"></image>
                <span class="text-xl text-center w-full">イラストは華鏡よさりの手描き！<br>両面アクリルキーホルダー</span>
            </a>
            <a href="https://kakyo-yosari.booth.pm/items/4669013"
               class="bg-neutral-50 flex flex-col justify-center shadow-lg">
                <image class="pt-6 pl-6 pr-6 rounded-3xl h-96 object-contain"
                       src="https://s2.booth.pm/0c6da0d5-1a01-44d5-878f-6f11c81e458c/i/4668940/1877d678-a8f4-471c-be61-55eaa007c541_base_resized.jpg"></image>
                <span class="text-xl text-center">アクリルブロック<br>第１弾</span>
            </a>
            <a href="https://kakyo-yosari.booth.pm/items/4669013"
               class="bg-neutral-50 flex flex-col justify-center shadow-lg">
                <image class="pt-6 pl-6 pr-6 rounded-3xl h-96 object-contain"
                       src="https://s2.booth.pm/0c6da0d5-1a01-44d5-878f-6f11c81e458c/i/4497983/9199a6d5-6456-4b31-aa90-61119a5a28e0_base_resized.jpg"></image>
                <span class="text-xl text-center">アクリルキーホルダー<br>第２弾</span>
            </a>
        </div>
    </div>
    <div class="p-12">
        <h1 class="text-3xl">ボイス</h1>
        <div class="grid grid-cols-4 gap-6 justify-center mt-6">
            <a href="https://kakyo-yosari.booth.pm/items/5043125"
            class="bg-neutral-50 flex flex-col justify-center shadow-lg">
                <image class="pt-6 pl-6 pr-6 rounded-3xl h-96 object-contain"
                        src="https://s2.booth.pm/0c6da0d5-1a01-44d5-878f-6f11c81e458c/i/5043125/d44a4d43-41d3-4707-a59a-a98947da19fe_base_resized.jpg"></image>
                <span class="text-xl text-center w-full">１周年記念<br>シチュエーションボイス</span>
            </a>
            <a href="https://kakyo-yosari.booth.pm/items/4629417"
            class="bg-neutral-50 flex flex-col justify-center shadow-lg">
                <image class="pt-6 pl-6 pr-6 rounded-3xl h-96 object-contain"
                        src="https://s2.booth.pm/0c6da0d5-1a01-44d5-878f-6f11c81e458c/i/4629417/9556b86f-599f-4b5b-97c8-5f9b45affbd6_base_resized.jpg"></image>
                <span class="text-xl text-center">無料お試し版あり！<br>100円で買えるボイスセット</span>
            </a>
            <a href="https://kakyo-yosari.booth.pm/items/4550582"
            class="bg-neutral-50 flex flex-col justify-center shadow-lg">
                <image class="pt-6 pl-6 pr-6 rounded-3xl h-96 object-contain"
                        src="https://s2.booth.pm/0c6da0d5-1a01-44d5-878f-6f11c81e458c/i/4550582/e31b42b2-71af-4ebd-80f9-b47738253501_base_resized.jpg"></image>
                <span class="text-xl text-center">酒びたし付喪神の距離感<br>バグり散らかしたASMR</span>
            </a>
        </div>
    </div>
</div>